@import '../Vars.scss';

.acercaDe {
    background-color: $secondary-color;
    padding: 1rem;
}

.acercaDe_izquierda{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.acercaDe_derecha{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.acercaDe__foto--perfil{
    text-align: center;
}

.acercaDe__foto--perfil img{
    width: 15rem;
    height: 15rem;
    border-radius: 30rem;
}

.acercaDe__descripcion{
    display: block;
    width: 60rem;
    text-align: justify;
}

.acercaDe__enlaces{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 5rem;
    justify-self: flex-end;
}

.acercaDe__enlaces img {
    width: 4rem;
    height: 4rem;
}

.acercaDe__enlaces img:hover{
    transform: scale(1.1);
}

.habilidades{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'title title'
                         'column1 column2';
    justify-items: center;
}

.habilidades__title{
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.column1{
    grid-area: column1;
}

.column2{
    grid-area: column2;
}

.experiencia__table--title{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.habilidades__table--title{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.experiencia_table{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.escala_uno{
    width: 10%;
    border: .2rem solid red;
    border-radius: 2rem;
}

.escala_dos{
    width: 20%;
    border: .2rem solid yellow;
    border-radius: 2rem;
}

.escala_tres{
    width: 30%;
    border: .2rem solid green;
    border-radius: 2rem;
}

.habilidades{
    width: 100%;
    margin-top: 2rem;
}


.habilidades__table{
    width: 100%;
}

.habilidades__table td{
    text-align: center;
}

@media screen and (max-width: 1250px){
    .acercaDe_izquierda {
        width: 100%;
    }

    .acercaDe_derecha {
        width: 100%;
    }
}