@import '../Vars.scss';

.acercaDe {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.acercaDe__foto--perfil img{
    width: 10rem;
    height: 10rem;
    border-radius: 30rem;
}

.acercaDe__descripcion{
    display: block;
    width: 60rem;
    text-align: justify;
}

.acercaDe__enlaces{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 5rem;
    justify-self: flex-end;
}

.acercaDe__enlaces img {
    width: 4rem;
    height: 4rem;
}

.acercaDe__enlaces img:hover{
    transform: scale(1.1);
}