@import '../Vars.scss';

.footer {
    background-color: $primary-color-light;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $primary-color-text;
    height: 6vh;
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
}

.footer_mensaje {
    padding-left: 2rem;
}

.footer_by {
    padding-right: 2rem;
}