@import '../Vars.scss';

.header {
  height: 100%;
}

.header__container {
    align-items: center;
    background: $primary-color;
    color: $primary-color-text;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: .1rem solid $primary-color-text;
    margin: 0.1rem 0;
    
  }

  .header__title {
    margin-right: 3rem;
  }
  
  .header__img {
    margin-left: 3rem;
    width: 4rem;
  }