@import '../Vars.scss';

.lista__proyectos {
  margin-top: .1rem;
  background-color: $secondary-color;
}

.lista__proyectos--title {
    text-align: center;
    background: $secondary-color;
    color: $secondary-color-text;
    font-size: 2rem;
    width: 100%;
  }